@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-Regular.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-RegularIt.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-Light.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-LightIt.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-Bold.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-BoldIt.woff2') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-SemiBold.woff') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-SemiBold.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaSoft';
  src: url('../src/assets/fonts/ProximaSoft-Medium.woff') format('woff2'),
    url('../src/assets/fonts/ProximaSoft-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
